<div class="outer" (click)="exit()">
    <div class="changePwdForm" (click)="$event.stopPropagation();">
      <h3>Cambia Password</h3>
      <form [formGroup]="changePwdForm" (submit)="changePwd()">
          <div class="form-group has-feedback">
              <label>Vecchia Password</label>
              <input type="password" 
                class="form-control"
                formControlName="oldP"
                placeholder="Vecchia password">
                <i class="glyphicon form-control-feedback"
                [class.glyphicon-exclamation-sign]="changePwdForm.get('oldP').pristine"
                [class.glyphicon-ok-sign]="changePwdForm.get('oldP').valid"
                [class.glyphicon-remove-sign]="changePwdForm.get('oldP').invalid && changePwdForm.get('oldP').dirty"
                ></i>
                <p *ngIf="changePwdForm.get('oldP').hasError('minlength') && changePwdForm.get('oldP').dirty">La password deve essere lunga almeno 5 caratteri</p>        
                <p *ngIf="changePwdForm.get('oldP').hasError('required') && changePwdForm.get('oldP').dirty">Devi inserire la vecchia password</p>        
            </div>
            <hr>
            <div class="form-group has-feedback">
                <label>Nuova Password</label>
                <input type="password" 
                  class="form-control"
                  formControlName="newP"
                  placeholder="Password">
                  <i class="glyphicon form-control-feedback"
                  [class.glyphicon-exclamation-sign]="changePwdForm.get('newP').pristine"
                  [class.glyphicon-ok-sign]="changePwdForm.get('newP').valid"
                  [class.glyphicon-remove-sign]="changePwdForm.get('newP').invalid && changePwdForm.get('newP').dirty"
                  ></i>
                  <p *ngIf="changePwdForm.get('newP').hasError('minlength') && changePwdForm.get('newP').dirty">La password deve essere lunga almeno 5 caratteri</p>        
                  <p *ngIf="changePwdForm.get('newP').hasError('required') && changePwdForm.get('newP').dirty">Devi scegliere una password</p>        
              </div>
              <div class="form-group has-feedback">
                  <label>Conferma Password</label>
                  <input type="password" 
                    class="form-control"
                    formControlName="confP"
                    placeholder="Ripeti la password">
                    <i class="glyphicon form-control-feedback"
                    [class.glyphicon-exclamation-sign]="changePwdForm.get('confP').pristine"
                    [class.glyphicon-ok-sign]="changePwdForm.get('confP').valid"
                    [class.glyphicon-remove-sign]="changePwdForm.get('confP').invalid && changePwdForm.get('confP').dirty"
                    ></i>
                    <p *ngIf="changePwdForm.get('confP').hasError('differentPassword') && changePwdForm.get('confP').dirty">Le password non coincidono</p>
                    <p *ngIf="changePwdForm.get('confP').hasError('required') && changePwdForm.get('confP').dirty">Devi confermare la password</p>
                </div>
                <button [disabled]="changePwdForm.invalid" class="btn btn-info">Cambia password</button>
                <p class="error" *ngIf="error!=''">{{error}}</p>
      </form>
    </div>
    </div>
